.table-container {
    margin-top: 20px;
  
    table {
        width: 100%;
        border-collapse: collapse;
  
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
        }
  
        th {
            background-color: #f0f0f0;
        }
    }
  
    .modal-content {
        background-color: #fff;
        padding: 16px;
        width: 400px;
        margin: 20px auto;
        border-radius: 8px;
  
        h2 {
            font-size: 1.5rem;
            margin-bottom: 16px;
        }
  
        p {
            margin-bottom: 8px;
        }
  
        button {
            margin-top: 16px;
        }
    }
}

.store-title {
    display: flex;
    align-items: center;
    margin-top: 30px; 
  
}
.store-title h2 {
    margin: 0; 
    font-size: 1.5rem; 
    font-weight: normal;
}

/* New styles for rounded rectangle */
.rounded-rectangle {
    background-color:navy;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 0.9rem;
    margin-left:20px;
    height:20px;
}

.dashboard-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background-color: blue;
    color: white;
    font-size: 1.3em;
    height: 50px;
}

.dashboard-title {
    color: white;
    font-size: 24px;
    margin-right: 10px;
    margin-left:50px;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 500px;

}

.search-bar input[type="text"] {
    padding: 8px 30px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.active-icons {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.active-text {
    margin-right: 20px;
    font-weight: bold;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 800px;
    color: navy;
   
}
.filter-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid navy;
    border-radius: 20px;
    padding: 5px 10px;
    height: 50px;
    width: 120px;
}

.filter-icon {
    font-size: 1.5rem;
    color: #555;
    margin-right: 10px;
}

.filter-text {
    font-size: 1rem;
    color: navy;
    font-weight: bold;
    text-align: center;
}
.add-items {
    display: flex;
    align-items: center;
    border: 1px solid navy;
    border-radius: 20px;
    padding: 5px 10px;
    height: 50px;
    width: fit-content;
}

.plus-icon {
    font-size: 1.5rem;
    color: white;
    margin-right: 10px;
}

.add-items-text {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-lg {
    font-size: 1.25rem;
}

.font-semibold {
    font-weight: 600;
}

.bg-white {
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.notification-icon {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}
